<ion-header>
  <ion-navbar>
    <ion-title>
      List
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item ion-item *ngFor="let item of items">
      <ion-thumbnail item-start (click)="itemSelected(item)">
        <img src="{{ item.imageURL }}">
      </ion-thumbnail>
      <ion-label>
        <h2 (click)="itemSelected(item)" style="font-size:smaller;font-weight:bold;">{{ item.name }}</h2>
        <p (click)="itemSelected(item)"> {{ item.category }} - {{ item.value | currency }} </p>
      </ion-label>
      <span item-end>
        <ion-icon name="logo-usd" *ngIf="item.providesDiscount"></ion-icon>
        <ion-icon name="done-all" *ngIf="item.isInsurable"></ion-icon>
      </span>
     </ion-item>
  </ion-list>
  <button ion-button block (click)="submitToInsurer(items)">Submit to IFBI</button>
</ion-content>
