<!--
  Generated template for the ItemDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Item Details</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-thumbnail><img src="{{ item.imageURL }}"></ion-thumbnail>
    </ion-item>
    <ion-item>
      <ion-label stacked>Name</ion-label>
      <ion-input type="text" value="{{ item.name }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Category</ion-label>
      <ion-input type="text" value="{{ item.category }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked item-start>Potential Discount?</ion-label>
      <ion-toggle disabled item-end checked="{{ item.providesDiscount }}"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label stacked>Individually Insurable</ion-label>
      <ion-toggle disabled item-end checked="{{ item.isInsurable }}"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label stacked>Sent to Agent?</ion-label>
      <ion-toggle disabled item-end checked="{{ item.sentToAgent }}"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label stacked>Value</ion-label>
      <ion-input type="text" value="{{ item.value | currency}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Longitude</ion-label>
      <ion-input type="text" value="{{ item.location.longitude }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Latitude</ion-label>
      <ion-input type="text" value="{{ item.location.latitude }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Room In Home</ion-label>
      <ion-input type="text" value="{{ item.location.room }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Description</ion-label>
      <ion-input type="text" value="{{ item.description }}"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
