<ion-header>
  <ion-navbar>
    <ion-title>Scanning</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <!-- {{debugString | json}}
    {{debugString2}} -->
        <ion-card *ngIf="currentItem">
            <ion-card-header>
              <strong>{{currentItem.name}}</strong>
            </ion-card-header>
            <ion-card-content>
                <img width="500" [src]="currentItem.imageURL">
            </ion-card-content>
            <ion-list>
                <button ion-item>
                    Category: {{currentItem.category}}
                  </button>
                <button ion-item *ngIf="currentItem.providesDiscount">
                  <ion-icon name="logo-usd" item-start></ion-icon>
                  Potential Discount
                </button>
                <button ion-item  *ngIf="currentItem.isInsurable">
                  <ion-icon name="done-all" item-start></ion-icon>
                  Individually Insurable
                </button>
                </ion-list>
          </ion-card>


</ion-content>

<ion-footer>

    <ion-toolbar>
      <button ion-button full (click)="takePicture()">Take Picture</button>
      <input type="file"
      id="file"
      (change)="handleFileInput($event.target.files)">
    </ion-toolbar>
  </ion-footer>
